extends layout

block header
block content
    div.artilceheader
        h1= title
    div.article.single
        div.body!= article.body
        div.meta= getDate(article.created_at)
        div.back 
            a(href="/blog/") Back
        - if (locals.user) 
            span.space
            a(href="/edit/"+article.id+"/") Edit
            span.space
            a(href="/delete/"+article.id+"/") Delete
    #disqus_thread
      script(type='text/javascript')
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'dmitrybranitskiy'; // required: replace example with your forum shortname
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        noscript
          | Please enable JavaScript to view the
          a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
        a.dsq-brlink(href='http://disqus.com')
          | comments powered by
          span.logo-disqus Disqus
                
    
        
        //- each comment in article.comments
          div.comment
            div.person= comment.person
            div.comment= comment.comment


