extends layout

block header
    h1= title
block content
    div.article.single
        div.body!= article.body
        div.meta= getDate(article.created_at)
        div.back 
            a(href="/blog/") Back
        //- each comment in article.comments
          div.comment
            div.person= comment.person
            div.comment= comment.comment


